/* text-field --------------------------------- */

input.placeholder,
textarea.placeholder {
    color: #aaa;
}

/* vertical tab-pane -------------------------- */

.ui-tabs.ui-tabs-vertical .ui-tabs-nav { -moz-border-radius: 0px; -webkit-border-radius: 0px; }
.ui-tabs.ui-tabs-vertical .ui-tabs-nav * { -moz-border-radius: 0px; -webkit-border-radius: 0px; max-width: 16ex; float: left; clear: left; }
.ui-tabs.ui-tabs-vertical .ui-tabs-panel { }

/* picker ------------------------------------- */

/*
 * Adapted from the standard jQuery UI Dialog plugin (http://jqueryui.com/demos/dialog/).
 * See /scripts/smoke/picker.js for the original Copyright info.
 */

.ui-picker { position: relative; width: 300px; margin-top: 2px; overflow: auto; font-size: .8em; }
.ui-picker .ui-picker-content { padding: .25em .5em; border: none; background: none; }
.ui-picker .ui-picker-buttonpane { text-align: left; border: none; background: none; margin: .5em 0 0 0; padding: .3em 1em .5em .4em; }
.ui-picker .ui-picker-buttonpane button { float: right; margin: .5em .4em .5em 0; cursor: pointer; padding: .2em .6em .3em .6em; line-height: 1.4em; width: auto; overflow: visible; }
.ui-picker .ui-resizable-se { width: 14px; height: 14px; right: 3px; bottom: 3px; }

/* radio-combo -------------------------------- */

.smoke-radio-combo.radio-combo-horizontal { display: inline; }
.smoke-radio-combo.radio-combo-horizontal .radio-combo-item { display: inline; padding-right: 1em; }

/* tooltip ------------------------------------ */

/*
 * Adapted from a tutorial by Remy Sharp (http://jqueryfordesigners.com/coda-popup-bubbles/),
 * originally inspired by the web page for Coda by Panic (http://www.panic.com/coda).
 */

.tooltip-anchor {
  position: relative;
}

.tooltip-anchor .tooltip {
  display: none;
  position: absolute;

  min-width: 200px;
  max-width: 500px;

  border: 1px solid #aaa;
  background: #fff;
  padding: 3px;
  -webkit-border-radius: 4px;

  z-index: 1;
}

/* autocomplete-field ------------------------- */

.smoke-autocomplete-field {
/*
  background-image: url(/images/smoke/down-arrow.png);
  background-position: right center;
  background-repeat: no-repeat;
*/
}

.smoke-autocomplete-options {
  display: none;
  position: absolute;
}

.smoke-autocomplete-options table {
  background: #fff;
  border: 1px solid #aaa;
  width: 100%;
  margin: 0px;
  padding: 0px;
  border-collapse: collapse;
  box-shadow: .5em .5em .5em #ccc;
  -webkit-box-shadow: .5em .5em .5em #ccc;
  -moz-box-shadow: .5em .5em .5em #ccc;
}

.smoke-autocomplete-options tr {
  margin: 0px;
}

.smoke-autocomplete-options tr:hover {
  background: #ccf;
}

.smoke-autocomplete-options tr.current,
.smoke-autocomplete-options tr.current:hover {
  background: #aaf;
}

.smoke-autocomplete-options td {
  padding: .2em .5em;
  border-left: 1px solid #aaa;
  white-space: nowrap;
}

.smoke-autocomplete-options td:first-child {
  background: none;
  border-left: none;
}

.smoke-disabled {
  background: #eee;
  color: #222;
}

/* html-dialog -------------------------------- */

.smoke-dialog-background {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    
    background: url(/images/smoke/dialog-background.png);
    z-index: 1000;
}

.smoke-dialog {
    display: none;
    position: absolute;
    
    width: 200px;
    height: 200px;

    border: 1px solid #aaa;
    background: #fff;
    padding: .5em;
    z-index: 1001;
}

/* notification ------------------------------- */

.smoke-notifications { width: 100%; }
.smoke-notifications .notification { position: relative; margin-bottom: .5em; 
    background: #ffe url(/images/smoke/flash-background.png) repeat-x; }
.smoke-notifications .notification-content { margin: .5em 2.5em .5em .5em; }

.smoke-notifications .notification-sticky { position: absolute; top: .5em; right: 40px; }
.smoke-notifications .notification-sticky { background: url(/images/smoke/sticky.png); }
.smoke-notifications .notification-sticky { position: absolute; top: .5em; right: 40px; }

.smoke-notifications .notification-dismiss { position: absolute; top: .5em; right: 16px; cursor: pointer; }
.smoke-notifications .notification-dismiss { background: url(/images/smoke/dismiss.png) !important; }
.smoke-notifications .notification-dismiss:hover { background: url(/images/smoke/dismiss-hover.png) !important; }
.smoke-notifications .notification-dismiss.ui-state-hover { border: none; }

/* editors ------------------------------------ */

.smoke-entity-editor th,
.smoke-entity-editor td { vertical-align: top; padding: .5em; }

.smoke-entity-editor .attribute-label { text-align: right; }

.smoke-entity-editor input,
.smoke-entity-editor textarea,
.smoke-entity-editor select { vertical-align: top; }

/* views -------------------------------------- */

.smoke-entity-view th,
.smoke-entity-view td {
  vertical-align: top;
  width: 100%;
}

.smoke-entity-view .attribute-label {
  text-align: right;
  width: 200px;
}

/* wizards ------------------------------------ */

.smoke-wizard table.labels {
  border: 1px solid #aaa;
  margin: 0px;
  font-size: 77%;
  width: 100%;
}
.smoke-wizard table.labels td {
  vertical-align: middle;
}

.smoke-wizard table.labels td.start {
  background: url(/images/smoke/wizard-step-background-start.png) no-repeat center right;
  font-weight: bold;
}

.smoke-wizard table.labels td.start-current {
  background: url(/images/smoke/wizard-step-background-start-current.png) no-repeat center right;
  font-weight: bold;
}

.smoke-wizard table.labels td.past-current {
  background: url(/images/smoke/wizard-step-background-past-current.png) no-repeat center right;
  color: #777;
}

.smoke-wizard table.labels td.past {
  background: url(/images/smoke/wizard-step-background-past.png) no-repeat center right;
  color: #777;
}

.smoke-wizard table.labels td.current {
  background: url(/images/smoke/wizard-step-background-current.png) no-repeat center right;
}

.smoke-wizard table.labels td.current-final {
  background: url(/images/smoke/wizard-step-background-current-final.png) no-repeat center right;
}

.smoke-wizard table.labels td.future {
  background: url(/images/smoke/wizard-step-background-future.png) no-repeat center right;
}

.smoke-wizard table.labels td.future-final {
  background: url(/images/smoke/wizard-step-background-future-final.png) no-repeat center right;
}

.smoke-wizard table.labels td.final {
  background: url(/images/smoke/wizard-step-background-final.png) no-repeat center right;
  font-weight: bold;
}

span.hidden {
  display: none;
}

td.current a, td.future a {
  color: black;
}

td.current a:hover, td.future a:hover {
  text-decoration: none;
}

div.current-wizard-step {
  border: 1px solid #aaa;
  border-bottom: none;
  margin: 0px auto;
  padding: 5px;
}

div.wizard-navigation {
  border: 1px solid #aaa;
  border-top: none;
  text-align: right;
  padding: 5px;
}

span.wizard-step-number {
  vertical-align: middle;
  padding-right: 0.7ex;
  font-weight: bold;
}

span.wizard-step-title {
  vertical-align: middle;  
}

/* set-selectors */
div.smoke-set-selector {
}

div.smoke-set-selector ul.active {
  padding: 2px;
  border: 1px solid white;
}

/*div.smoke-set-selector.edit-mode ul.active {
  background-color: #eee;
  color: #777;
  border: 1px solid #777;
}*/

.rollover-img {
  position: absolute;
  top: 20%;
  right: 1px;
}

.rollover-img.inner {
  right: 20px;
}

div.smoke-set-selector ul.active li {
  position: relative;
  padding: 4px 22px 4px 2px; /* larger right padding for image*/
  margin: 0px;
}

div.smoke-set-selector div.item-entry {
  position: relative;
  margin: 5px;
  margin-right: 3px;
  padding: 2px 48px 2px 8px;
  border-left: 3px solid #aaa;
}

div.smoke-set-selector div.item-entry a {
  
}

div.smoke-set-selector div.item-entry select,
div.smoke-set-selector div.item-entry input {
  width: 100%;
}

div.smoke-set-selector.disabled {
  background-color: threedface !important;
  border: 1px solid #BBBBBB;
  color: graytext !important;
  cursor: inherit;
}
