/* Check results ------------------------------ */

ul.check-results {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

ul.check-results li {
    padding: 1px 0px 1px 17px;
    background-repeat: no-repeat;
    background-position: 0 3px;
}

ul.check-results li.check-success {
    background-image: url(/images/smoke/success.png);
}

ul.check-results li.check-warning {
    background-image: url(/images/smoke/warning.png);
}

ul.check-results li.check-failure {
    background-image: url(/images/smoke/failure.png);
}

ul.check-results li.check-error {
    background-image: url(/images/smoke/error.png);
}

img.check-success.icon,
img.check-warning.icon,
img.check-failure.icon,
img.check-error.icon {
    position: relative;
    top: 2px;
}

.success {
    border: none;
    background: transparent;
}

/* snooze-report% ----------------------------- */

.smoke-snooze-report table {
    position: static;
    clear: both;
    border-collapse: collapse;
    border: 1px solid #aaa;
    margin: 3px 0px;
}

.smoke-snooze-report thead {
    border: 1px solid #aaa;
}

.smoke-snooze-report tfoot {
    border: 1px solid #aaa;
}

.smoke-snooze-report td,
.smoke-snooze-report th {
    border-left: 1px solid #aaa;
    background: #fff;
}

.smoke-snooze-report th {
  padding: 0px;
}

.smoke-snooze-report th a,
.smoke-snooze-report th span.not-sortable {
  padding: 4px 5px;
}

.smoke-snooze-report th.sort:hover {
    background: #ffa;
}

.smoke-snooze-report th span.not-sortable {
    display: block;
    background: transparent;
}

.smoke-snooze-report th a.sort {
    display: block;
    background: transparent;
    cursor: pointer;
    padding-right: 16px;
}

.smoke-snooze-report th a.sort.asc {
    background: transparent url(/images/smoke/up-arrow.png) no-repeat right center;
}

.smoke-snooze-report th a.sort.desc {
    background: transparent url(/images/smoke/down-arrow.png) no-repeat right center;
}

/* Controls */

.smoke-snooze-report .controls {
    position: relative;
    display: block;
    clear: both;
}

.smoke-snooze-report .controls table {
    margin: 0px;
    padding: 0px;
    border: none;
    background: none;
}

.smoke-snooze-report .controls td,
.smoke-snooze-report .controls td {
    margin: 0px 5px;
    padding: 1px;
    border: none;
    background: none;
}

.smoke-snooze-report .controls .left-controls {
    float: left;
    margin: 5px;
}

.smoke-snooze-report .controls .right-controls {
    float: right;
    text-align: right;
    margin: 5px;
}

.smoke-snooze-report .controls .bottom-controls {
    text-align: center;
    clear: both;
}

.smoke-snooze-report .controls .show-hide-contents {
    border: 1px solid #aaa;
    background: #f7f7f7;
}

/* Position */

.smoke-snooze-report .position {
    position: static;
    text-align: center;
    clear: both;
    width: 100%;
}

.smoke-snooze-report .item-count {
    width: 100%;
}

/* Pager tables */

.smoke-snooze-report table.pager {    
    width: auto;
    border: 0px;
    margin: 5px auto;
    padding: 0px;
    text-align: center;
    vertical-align: middle;
}

.smoke-snooze-report table.pager td {
    width: 2em;
    padding: 0px;
    text-align: center;
    white-space: nowrap;
    border: 1px solid #fff;
    border-right: 1px solid #aaa;
}

.smoke-snooze-report table.pager td:hover {
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    background-color: #e7e7e7;
}

.smoke-snooze-report table.pager td.spacer,
.smoke-snooze-report table.pager td.last  {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    background-color: #fff;
}

.smoke-snooze-report table.pager td.last {
    border-right: none;
}

.smoke-snooze-report table.pager td.spacer:hover,
.smoke-snooze-report table.pager td.last:hover  {
    background-color: #fff;
}

.smoke-snooze-report table.pager td span,
.smoke-snooze-report table.pager td a {
    border: 0px solid none;
    margin: 0px;
    padding: 0px;
    text-align: center;
    display: block;
    text-decoration: none;
    text-align: center;
}

.smoke-snooze-report table.pager td.current {
    font-weight: bold;
    background-color: #9BF;
    border: 1px solid #aaa;
}

/* [DJB] class for fixed navigation links in page */

.smoke-snooze-report table.pager td.fixed {
    border: 1px solid #aaa;
    background-color: #eee;
    font-weight: bold;
}
.smoke-snooze-report table.pager td.fixed:hover {
    border: 1px solid #bbb;
    background-color: #e7e7e7;
    font-weight: bold;
}

.smoke-snooze-report table.pager a:hover {
    text-decoration: underline;
}

/* Report data */

.smoke-snooze-report .snooze-report-table {
    width: 100%;
}
