/* Check results ------------------------------ */

ul.check-results {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

ul.check-results li {
    padding: 1px 0px 1px 17px;
    background-repeat: no-repeat;
    background-position: 0 3px;
}

ul.check-results li.check-success {
    background-image: url(/images/smoke/success.png);
}

ul.check-results li.check-warning {
    background-image: url(/images/smoke/warning.png);
}

ul.check-results li.check-failure {
    background-image: url(/images/smoke/failure.png);
}

ul.check-results li.check-error {
    background-image: url(/images/smoke/error.png);
}

img.check-success.icon,
img.check-warning.icon,
img.check-failure.icon,
img.check-error.icon {
    position: relative;
    top: 2px;
}

.success {
    border: none;
    background: transparent;
}

/* snooze-report% ----------------------------- */

.smoke-snooze-report table {
    border-collapse: collapse;
    margin: 3px 0px;
}

.smoke-snooze-report th {
  padding: 0px;
}

.smoke-snooze-report th a,
.smoke-snooze-report th span.not-sortable {
  padding: 4px 5px;
}

.smoke-snooze-report th span.not-sortable {
    display: block;
    background: transparent;
}

.smoke-snooze-report th a.sort {
    display: block;
    background: transparent;
    cursor: pointer;
    padding-right: 16px;
}

.smoke-snooze-report th a.sort.asc {
    background: transparent url(/images/smoke/up-arrow.png) no-repeat right center;
}

.smoke-snooze-report th a.sort.desc {
    background: transparent url(/images/smoke/down-arrow.png) no-repeat right center;
}

/* Controls */

.smoke-snooze-report .controls {
    position: relative;
    display: block;
}

.smoke-snooze-report .controls table {
    margin: 0px;
    padding: 0px;
    border: none;
    background: none;
}

.smoke-snooze-report .controls td,
.smoke-snooze-report .controls td {
    margin: 0px 5px;
    padding: 1px;
    border: none;
    background: none;
}

.smoke-snooze-report .controls .left-controls {
    float: left;
    margin: 5px;
}

.smoke-snooze-report .controls .right-controls {
    float: right;
    text-align: right;
    margin: 5px;
}

.smoke-snooze-report .controls .bottom-controls {
    text-align: center;
}

.smoke-snooze-report .controls .show-hide-contents {
    border: 1px solid #aaa;
    background: #f7f7f7;
}

/* Position */

.smoke-snooze-report .position {
    text-align: center;
    width: 100%;
}

.smoke-snooze-report .item-count {
    width: 100%;
}

/* Pager tables */

.smoke-snooze-report table.pager {    
    width: auto;
    border: 0px;
    margin: 5px auto;
    padding: 0px;
    text-align: center;
    vertical-align: middle;
}

.smoke-snooze-report table.pager td {
    width: 2em;
    padding: 0px;
    text-align: center;
    white-space: nowrap;
}

.smoke-snooze-report table.pager td span,
.smoke-snooze-report table.pager td a {
    border: 0px solid none;
    margin: 0px;
    padding: 0px;
    text-align: center;
    display: block;
    text-decoration: none;
    text-align: center;
}

.smoke-snooze-report table.pager a:hover {
    text-decoration: underline;
}

/* Report data */

.smoke-snooze-report .snooze-report-table {
    width: 100%;
}
