.show-hide-switcher {
  padding-left: 16px;
  background: url(/images/smoke/collapse-arrow.png) left center no-repeat; 
}

.show-hide-switcher.shown {
  padding-left: 16px;
  background: url(/images/smoke/expand-arrow.png) left center no-repeat; 
}

.show-hide-contents {
  display: none;
}

.show-hide-contents.shown {
  display: block;
}
